<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819830840132-8if1f3bb5vd5brn9k12fnvkhj38rehme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819830840132-8if1f3bb5vd5brn9k12fnvkhj38rehme</string>
	<key>API_KEY</key>
	<string>AIzaSyDiYscFjHM8gT7IfTfWlrZWSoymFTbX4Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>819830840132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.manishgupta.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b672f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b672f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819830840132:ios:9000b0951303f18e36d511</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b672f.firebaseio.com</string>
</dict>
</plist>